* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI regular';
  background-color:  #f8f3ed;
  /* background-color: #004523; */
  /* background: #049F4A; */
}

.row_header img{
    width: 220px;
}

.row_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
 .text_header h1{
    /* width: 70%; */
    color: #049F4A;
   padding-bottom: 1.5%;
   margin-left: 20px;
    font-size: 3em;
    font-weight: 600
}

/* ==============the left accordion============= */
.left_accordion_FAQ{
    width: 45%;
    /* background: #049F4A; */
    height: 100vh;
    margin-left: 5%;
}
/* the search section */
.searchbox_header h2{
    text-align: center;
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-transform: initial;
    color: #049F4A;
    padding: 5% 0;
}
form{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    height: 8vh;
    position: relative;
    margin-top: -10px;
}
.search_icon i{
    font-size: 30px;
    position: absolute;
    z-index: 2;
    left: 21px;
    color: gray;
    padding: 2.2% 3%;
    cursor: pointer;
}

input[type=text]{
  font-size: 17px;
  border: none;
  text-indent: 12%;
  width: 90%;
  border-radius: 5px;
  box-shadow: 2px 3px 30px -22px rgba(0,0,0,1);
  outline: none;
    border: 1px solid #929da383;
    background: #fff;

}
/* popular questions */
.pop_questons {
    white-space: nowrap;
    overflow: hidden;
    margin: 5px 0;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: .9em;
    margin-top: 20px;
    text-align: center;
    color: rgb(32, 32, 32);
}

/* =============the acordion--======== */
ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

.container{
    width: 87%;
    height: 409px;
    /* background-color: grey; */
    margin: 0 auto;
    overflow: auto;
    -webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
     border-radius: 4px;
}
 .accordion {
 	width:100%;
 	/* max-width: 360px; */
 	/* margin: 30px auto 20px; */
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
     border-radius: 4px;
     margin: 0 auto;
     border: 1px solid #929da383;
 }

 .accordion .link {
	cursor: pointer;
	/* display: block; */
	padding: 15px 15px 15px 42px;
	color: #1d1f23af;
	font-size: 15px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

/* the fontawesome icons */
.accordion li i {
	position: absolute;
	top: 16px;
	left: 18px;
	font-size: 18px;
	color: #1d1f23af;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 18px;
	left: auto;
	font-size: 16px;
}
/* ========================================================js */
/* ========================================================js */
.accordion li.open .link {
	color:  #004523;
}

.accordion li.open i {
    /* color: #049F4A; */
    color:  #004523;
}
/* =======================================================js */
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}

/**
 * Submenu
 -----------------------------*/
 .submenu {
    display: none;
    background: #e4dfda;
    font-size: 14px;
    width: 100%;
    /* margin: 0 auto; */
}

.submenu li p {
    border-bottom: 1px solid #4b4a5e;
}
.submenu h3{
    padding: 2% 0%;
}
.submenu li{
    padding:0.2% 5%;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}

/* ===================================the right box ============= */
 /* ===================css grid==================== */
 .left_right{
     display: flex;
     flex-direction: row;
 }
 .right_product_category{
     margin-top: 2%;
     width: 50%;
     /* background-color: green; */
 }
 .scroller{
     background-color: none;
 }
.wrapper{
    width: 80%;
    background-color: #f8f3ed;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    grid-template-rows: 130px;
    grid-auto-rows: 130px ;
    border-bottom:#f8f3ed 2px solid;
}

.item{
    background: #fff;
    padding: 10px;
}
.item:nth-child(even){
    background-color: #fff;
}

.w_cols img{
    width: 50%;
    /* height: 2vh; */
    margin-left: 25%;
    margin-top: 10%;
}
.widercols{
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 2px;
    background-color: #f8f3ed;
    grid-template-rows: 86px 86px;
    /* grid-auto-rows: ; */
}
.w_cols{
    background-color: #fff;
}
.w_cols:nth-child(even){
    background-color: #fff;
}
/* ===============f awsome in css grid========== */
.right_product_category .wrapper .item i{
    font-size: 50px;
    margin-left: 34px;
    margin-top: 10px;
    color: #049F4A;
}

.right_product_category .wrapper .item h3{
    font-size: 14px;
    text-align: center;
    color: #1d1f23af;
}


/* +=======================================Media queries========================================== */

/* ==========FOR PHONE SCREEN================== */
@media screen and (max-width: 575px) {
    body{
      width: 100%;
      }
      .row_header{
        flex-direction: column;
      }
      .text_header h1{
        font-size: 30px;
        font-weight: 700;
      }
      .left_right{
        flex-direction: column-reverse;
      }
      .searchbox_header h2{
        text-align: center;
        font-weight: 800;
        font-size: 1.2rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        position: absolute;
        top:7em;
        color: #004523;
        left: 20%;
    }
    .wrapper{
        /* padding: 3% 2%; */
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        margin: 0 auto;
    }
    .right_product_category{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 12%;
        width: 100%;
    }
    .widercols{
        width: 94%;
        /* grid-template-columns: 1fr 1fr; */
        grid-gap: 2px;
        background-color: #f8f3ed;
        grid-template-rows: 86px 86px;
        margin: 0 3%;
        
    } 
    .item{
        flex: 0 0 auto;
        width: 130px;
    }
    
    .scroller{
        width: 94%;
        /* padding: 0 1%; */
        margin: 1% auto;
        overflow-x: auto;
    }
    .left_accordion_FAQ{
        width: 100%;
        margin: 0;
    }
    form{
        
        width: 97%;
        margin: 0 auto;
        height: 8vh;
        margin-top: 7%;
    }
    .search_icon i{
        font-size: 22px;
        position: absolute;
        z-index: 2;
        left: 6%;
        color: gray;
        padding: 2.2% 3%;
        cursor: pointer;
        top: 23%;
    }
    input[type=text]{  
        text-indent: 15%;
      
      }
      .w_cols img{
        width: 65%;
        /* height: 2vh; */
        margin-left: 15%;
        margin-top: 15%;
    }

   
}

/* ====================FOR TABLET================= */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  body{
    width: 100%;
    }

    form{
    width: 87%;
    margin: 0 auto;
    height: 5vh;
    /* margin-top: 2%; */
    }
    .search_icon i{
        font-size: 22px;
        position: absolute;
        z-index: 2;
        left: 6%;
        color: gray;
        padding: 2.2% 3%;
        cursor: pointer;
        top: 23%;
    }
    .left_right{
        width: 92%;
    }
    .widercols{
        width: 100%;
        /* grid-template-columns: 1fr 1fr; */
        background-color: #f8f3ed;
        grid-template-rows: 86px 86px;
        
    } 
    .right_product_category{
        width: 50%;
    }
  
  }